tweepy
clipboard
pyclip
pycoingecko
yt-dlp
parinya
cv2ools
mechanize
discord
google-translate
discord-components
webdriver-manager
google-cloud
selenium
pytz
google-cloud-translate
pillow
matplotlib
PyNaCl
spotipy
googletrans==3.1.0a0
opencv-python-headless==4.5.4.60
psycopg2
asyncpg
